%ul
  - role_types.each do |role_type|
    - present role_type do |role_type|
      %li{'data-id' => role_type.id}
        %span.role-type-name
          = role_type.title
        .pull-right
          = '...'
          = role_type.role_department.name
