%ul
  - profiles.each do |profile|
    - present profile do |profile|
      %li{'data-id' => profile.id}
        %span.lookup-name
          = profile.title
        - if profile.roles.any?
          .pull-right
            = profile.town_titles_sml
            = '...'
            = profile.role_summary
