$('.profile_lookup_list').html(
  <%- if @profiles.empty? %>
    "<div class='none-found'>Couldn't find them - This will make a new profile '<%= @query_str.titleize %>'</div>"
  <%- else %>
    "<%= escape_javascript(render partial: 'profile_lookup_list', locals: { profiles: @profiles } ) %>"
  <%- end %>
).slideDown();
