- present @profile do |profile|
  .panel
    .panel-head
      = profile.name
    .panel-body

      %h3 Events
      %table.list
        - profile.roles.each do |role|
          - present role.event do |event|
            %tr
              %td
                - if role.event_role?
                  = link_to event.full_title, event_path(event)
                - if role.tour_role?
                  = link_to tour.name, tour_path(tour)
              %td
                = role.role_type.title
