%script{async: true, src: "https://www.googletagmanager.com/gtag/js?id=UA-136692842-1"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

- if ENV["GOOGLE_ANALYTICS_ID"]
  :javascript
    gtag('config', '#{ENV["GOOGLE_ANALYTICS_ID"]}');
