%table.list
  - events.each do |event|
    - present event do |event|
      %tr
        %td
          = link_to event.full_title, event_path(event)
        %td.text-right
          = "#{event.all_roles.count} crew"
