- content_for :page_title do
  Events DB

.main
  .panel
    .panel-head
      Recent Events
    .panel-body
      - @events.each do |event|
        - present event do |event|
          .row
            = link_to event.full_title, event_path(event)
.side-bar
