
.pages.about-page

  .content

    .pane
      %h2.text-center
        Whom
      .mini-row.text-center
        James White is a software engineer and is spectacularly musically ungifted.
        He's worked in the tech industry for well over a decade.
      .mini-row.text-center
        Ashley Frerichs is a writer and festival organiser who has worked in
        the music industry for less time than James has worked in the tech industry
        because she isn't as old.

    .pane
      %h2.text-center
        Background
      .mini-row.text-center
        After seeing The Cat Empire play at the Roundhouse in Camden, London in
        November 2018 James and Ash wanted to know who was responsible for the
        lighting design. It was awesome.
      .mini-row.text-center
        After a brief, futile search they realised that there appeared to be no way
        to find out who made these events happen. Who are these dark wizards,
        making sure the event sounds and looks the best it can.
      .mini-row.text-center
        CrewdB was started shortly after, providing a place for people to find, and add,
        the crew that made an event happen.
      .mini-row.text-center
        We still don't know who that Cat Empire lighting designer was.
        But we're working on it.

    .pane
      %h2.text-center
        Contact
      .mini-row.text-center
        If you want to get involved or you have some information about crew
        get in touch:
        = mail_to "info@crewdb.co.uk"
