- content_for :page_title do
  Privacy policy

.panel
  .panel-head
    Privacy policy
  .panel-body
    .paragraph
      .row
        This privacy policy applies between you, the User of this Website and James White, Ashley Frerichs, the owner and provider of this Website. James White, Ashley Frerichs takes the privacy of your information very seriously. This privacy policy applies to our use of any and all Data collected by us or provided by you in relation to your use of the Website.
      .row
        This privacy policy should be read alongside, and in addition to, our Terms and Conditions, which can be found at:
        = link_to 'https://crewdb.co.uk/terms', pages_terms_path
      .row.strong
        Please read this privacy policy carefully.

    %ol.terms
      %h3
        Definitions and interpretation
      %li
        In this privacy policy, the following definitions are used:

        .table.list
          .tr
            .td
              Data
            .td
              collectively all information that you submit to James White, Ashley Frerichs via the Website. This definition incorporates, where applicable, the definitions provided in the Data Protection Laws;
          .tr
            .td
              Cookies
            .td
              a small text file placed on your computer by this Website when you visit certain parts of the Website and/or when you use certain features of the Website. Details of the cookies used by this Website are set out in the clause below (Cookies);
          .tr
            .td
              Data Protection Laws
            .td
              any applicable law relating to the processing of personal Data, including but not limited to the Directive 96/46/EC (Data Protection Directive) or the GDPR, and any national implementing laws, regulations and secondary legislation, for as long as the GDPR is effective in the UK;
          .tr
            .td
              GDPR
            .td
              the General Data Protection Regulation (EU) 2016/679;
          .tr
            .td
              James White, Ashley Frerichs,
              we or us
            .td
              James White, Ashley Frerichs of 8 spenlow apartments, Wenlock road, London, N1 7GH;
          .tr
            .td
              UK and EU Cookie Law
            .td
              the Privacy and Electronic Communications (EC Directive) Regulations 2003 as amended by the Privacy and Electronic Communications (EC Directive) (Amendment) Regulations 2011;
          .tr
            .td
              %span.strong User
              or
              %span.strong you
            .td
              any third party that accesses the Website and is not either (i) employed by James White, Ashley Frerichs and acting in the course of their employment or (ii) engaged as a consultant or otherwise providing services to James White, Ashley Frerichs and accessing the Website in connection with the provision of such services; and
          .tr
            .td
              Website
            .td
              the website that you are currently using, http://www.crewdb.co.uk, and any sub-domains of this site unless expressly excluded by their own terms and conditions.
      %li
        In this privacy policy, unless the context requires a different interpretation:
        the singular includes the plural and vice versa;
        %ol{type:'a'}
          %li
            references to sub-clauses, clauses, schedules or appendices are to sub-clauses, clauses, schedules or appendices of this privacy policy;
          %li
            a reference to a person includes firms, companies, government entities, trusts and partnerships;
          %li
            "including" is understood to mean "including without limitation";
          %li
            reference to any statutory provision includes any modification or amendment of it;
          %li
            the headings and sub-headings do not form part of this privacy policy.
      %h3
        Scope of this privacy policy
      %li
        This privacy policy applies only to the actions of James White, Ashley Frerichs and Users with respect to this Website. It does not extend to any websites that can be accessed from this Website including, but not limited to, any links we may provide to social media websites.
      %li
        For purposes of the applicable Data Protection Laws, James White, Ashley Frerichs is the "data controller". This means that James White, Ashley Frerichs determines the purposes for which, and the manner in which, your Data is processed.
      %h3
        Data collected
      %li
        We may collect the following Data, which includes personal Data, from you:
        %ol{type:'a'}
          %li
            name;
          %li
            date of birth;
          %li
            gender;
          %li
            job title;
          %li
            profession;
          %li
            IP address (automatically collected);
          %li
            web browser type and version (automatically collected);
          %li
            professional tasks undertaken;
          %li
            locations worked;
          in each case, in accordance with this privacy policy.
      %h3
        How we collect Data
      %li
        We collect Data in the following ways:
        %ol{type: 'a'}
          %li
            data is given to us by you;
          %li
            data is received from other sources; and
          %li
            data is collected automatically.
      %h3
        Data that is given to us by you
      %li
        James White, Ashley Frerichs will collect your Data in a number of ways, for example:
        %ol{type: 'a'}
          %li
            when you contact us through the Website, by telephone, post, e-mail or through any other means;
          %li
            when you register with us and set up an account to receive our products/services;
          %li
            when you use our services;
          %li
            industry representatives;
        in each case, in accordance with this privacy policy.
      %h3
        Data that is received from publicly available third parties sources
      %li
        We will receive Data about you from the following publicly available third party sources:
        %ol{type: 'a'}
          %li
            venue websites;
      %h3
        Data that is collected automatically
      %li
        To the extent that you access the Website, we will collect your Data automatically, for example:
        %ol{type: 'a'}
          %li
            we automatically collect some information about your visit to the Website. This information helps us to make improvements to Website content and navigation, and includes your IP address, the date, times and frequency with which you access the Website and the way you use and interact with its content.
          %li
            we will collect your Data automatically via cookies, in line with the cookie settings on your browser. For more information about cookies, and how we use them on the Website, see the section below, headed "Cookies".
      %h3
        Our use of Data
      %li
        Any or all of the above Data may be required by us from time to time in order to provide you with the best possible service and experience when using our Website. Specifically, Data may be used by us for the following reasons:
        %ol{type: 'a'}
          %li
            internal record keeping;
          %li
            improvement of our products / services;
          %li
            contact for market research purposes which may be done using email, telephone, fax or mail. Such information may be used to customise or update the Website;
        in each case, in accordance with this privacy policy.

      %li
        We may use your Data for the above purposes if we deem it necessary to do so for our legitimate interests. If you are not satisfied with this, you have the right to object in certain circumstances (see the section headed "Your rights" below).
      %li
        When you register with us and set up an account to receive our services, the legal basis for this processing is the performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract.
      %h3
        Who we share Data with
      %li
        We may share your Data with the following groups of people for the following reasons:
        %ol{type: 'a'}
          %li
            our employees, agents and/or professional advisors - to generate insights into industry trends;
        in each case, in accordance with this privacy policy.

      %h3
        Keeping Data secure
      %li
        We will use technical and organisational measures to safeguard your Data, for example:
        %ol{type: 'a'}
          %li
            access to your account is controlled by a password and a user name that is unique to you.
          %li
            we store your Data on secure servers.
        %li
          Technical and organisational measures include measures to deal with any suspected data breach. If you suspect any misuse or loss or unauthorised access to your Data, please let us know immediately by contacting us via this e-mail address: james@crewdb.co.uk.
        %li
          If you want detailed information from Get Safe Online on how to protect your information and your computers and devices against fraud, identity theft, viruses and many other online problems, please visit www.getsafeonline.org. Get Safe Online is supported by HM Government and leading businesses.
      %h3
        Data retention
      %li
        Unless a longer retention period is required or permitted by law, we will only hold your Data on our systems for the period necessary to fulfil the purposes outlined in this privacy policy or until you request that the Data be deleted.
      %li
        Even if we delete your Data, it may persist on backup or archival media for legal, tax or regulatory purposes.
      %h3
        Your rights
      %li
        You have the following rights in relation to your Data:
        %ol{type: 'a'}
          %li Right to access - the right to request (i) copies of the information we hold about you at any time, or (ii) that we modify, update or delete such information. If we provide you with access to the information we hold about you, we will not charge you for this, unless your request is "manifestly unfounded or excessive." Where we are legally permitted to do so, we may refuse your request. If we refuse your request, we will tell you the reasons why.
          %li Right to correct - the right to have your Data rectified if it is inaccurate or incomplete.
          %li Right to erase - the right to request that we delete or remove your Data from our systems.
          %li Right to restrict our use of your Data - the right to "block" us from using your Data or limit the way in which we can use it.
          %li Right to data portability - the right to request that we move, copy or transfer your Data.
          %li Right to object - the right to object to our use of your Data including where we use it for our legitimate interests.
      %li
        To make enquiries, exercise any of your rights set out above, or withdraw your consent to the processing of your Data (where consent is our legal basis for processing your Data), please contact us via this e-mail address: james@crewdb.co.uk.
      %li
        If you are not satisfied with the way a complaint you make in relation to your Data is handled by us, you may be able to refer your complaint to the relevant data protection authority. For the UK, this is the Information Commissioner's Office (ICO). The ICO's contact details can be found on their website at https://ico.org.uk/.
      %li
        It is important that the Data we hold about you is accurate and current. Please keep us informed if your Data changes during the period for which we hold it.
      %h3
        Links to other websites
      %li
        This Website may, from time to time, provide links to other websites. We have no control over such websites and are not responsible for the content of these websites. This privacy policy does not extend to your use of such websites. You are advised to read the privacy policy or statement of other websites prior to using them.
      %h3
        Changes of business ownership and control
      %li
        James White, Ashley Frerichs may, from time to time, expand or reduce our business and this may involve the sale and/or the transfer of control of all or part of James White, Ashley Frerichs. Data provided by Users will, where it is relevant to any part of our business so transferred, be transferred along with that part and the new owner or newly controlling party will, under the terms of this privacy policy, be permitted to use the Data for the purposes for which it was originally supplied to us.
      %li
        We may also disclose Data to a prospective purchaser of our business or any part of it.
      %li
        In the above instances, we will take steps with the aim of ensuring your privacy is protected.
      %h3
        Cookies
      %li
        This Website may place and access certain Cookies on your computer. James White, Ashley Frerichs uses Cookies to improve your experience of using the Website. James White, Ashley Frerichs has carefully chosen these Cookies and has taken steps to ensure that your privacy is protected and respected at all times.
      %li
        All Cookies used by this Website are used in accordance with current UK and EU Cookie Law.
      %li
        Before the Website places Cookies on your computer, you will be presented with a message bar requesting your consent to set those Cookies. By giving your consent to the placing of Cookies, you are enabling James White, Ashley Frerichs to provide a better experience and service to you. You may, if you wish, deny consent to the placing of Cookies; however certain features of the Website may not function fully or as intended.
      %li
        This Website may place the following Cookies:
        .table.list
          .tr
            .td
              Type of Cookie
            .td
              Purpose
          .tr
            .td
              Strictly necessary cookies
            .td
              These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use of e-billing services.
          .tr
            .td
              Analytical/performance cookies
            .td
              They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.
          .tr
            .td
              Functionality cookies
            .td
              These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).

      %li
        You can find a list of Cookies that we use in the Cookies Schedule.
      %li
        You can choose to enable or disable Cookies in your internet browser. By default, most internet browsers accept Cookies but this can be changed. For further details, please consult the help menu in your internet browser.
      %li
        You can choose to delete Cookies at any time; however you may lose any information that enables you to access the Website more quickly and efficiently including, but not limited to, personalisation settings.
      %li
        It is recommended that you ensure that your internet browser is up-to-date and that you consult the help and guidance provided by the developer of your internet browser if you are unsure about adjusting your privacy settings.
      %li
        For more information generally on cookies, including how to disable them, please refer to aboutcookies.org. You will also find details on how to delete cookies from your computer.
      %h3
        General
      %li
        You may not transfer any of your rights under this privacy policy to any other person. We may transfer our rights under this privacy policy where we reasonably believe your rights will not be affected.
      %li
        If any court or competent authority finds that any provision of this privacy policy (or part of any provision) is invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be deleted, and the validity and enforceability of the other provisions of this privacy policy will not be affected.
      %li
        Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of that, or any other, right or remedy.
      %li
        This Agreement will be governed by and interpreted according to the law of England and Wales. All disputes arising under the Agreement will be subject to the exclusive jurisdiction of the English and Welsh courts.
      %h3
        Changes to this privacy policy
      %li
        James White, Ashley Frerichs reserves the right to change this privacy policy as we may deem necessary from time to time or as may be required by law. Any changes will be immediately posted on the Website and you are deemed to have accepted the terms of the privacy policy on your first use of the Website following the alterations.

        .row
          You may contact James White, Ashley Frerichs by email at james@crewdb.co.uk.



      %h3
        Cookies
      .row
        Below is a list of the cookies that we use. We have tried to ensure this is complete and up to date, but if you think that we have missed a cookie or there is any discrepancy, please let us know.

      %h3
        Strictly necessary

      We use the following strictly necessary cookies:

      .table.list
        .tr
          .td
            Description of Cookie
          .td
            Purpose
        .tr
          .td
            ui preferences
          .td
            to store ui preferences

      %h3
        Analytical/performance

      We use the following analytical/performance cookies:

      .table.list
        .tr
          .td
            Description of Cookie
          .td
            Purpose
        .tr
          .td
            standard analytics cookie
          .td
            to track site usage

      %h3
        Functionality

      We use the following functionality cookies:

      .table.list
        .tr
          .td
            Description of Cookie
          .td
            Purpose
        .tr
          .td
            functional cookies
          .td
            We use this cookie to identify your computer and analyse traffic patterns on our website.
