.table.list
  - venues.each do |venue|
    - present venue do |venue|
      .tr
        .td
          = link_to venue.full_title, venue_path(venue)
        .td.text-right
          = "#{venue.events.count} #{'event'.pluralize(venue.events.count)}"
