.table.list
  - roles.each do |role|
    .tr
      .td
        = link_to role.profile.title, profile_home_path(username: role.profile.username)
      .td
        = role.role_type.title
      .td.text-right.desktop-only
        = role.role_type.role_department.name
      - if current_user&.admin? || role.owner?(current_user)
        .td.text-right
          = link_to 'Delete', role_path(role), class: 'danger confirm', title: 'Delete this role', method: 'DELETE'
