@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
$project-font: 'Fira Sans';

$body-bg: #cdcdcd;
$body-bg-top: #bcbcbc;
$text-color: #696969;
$spring-bg: #fdfdfd;
$title-bar-bg: #506554;
