
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
$project-font: 'Fira Sans';

$body-bg-top: #a2a3a7;
$body-bg: #cdcdcd;
$text-color: #696969;
$spring-bg: #fdfdfd;
$title-bar-bg: #505a65;

$lime-cta: #b7fb36;
$hot-pink: #e85c5c;
$purple-cta: #cb78ea;

$panel-border-color: #c3c3c3;
