
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
$project-font: 'Open Sans';
$title-font: 'Fira Sans';
$page-title-font: 'Playfair Display';

$body-bg-top: #a2a3a7;
$body-bg: #cdcdcd;
$text-color: #696969;
$spring-bg: #fdfdfd;
$title-bar-bg: #505a65;
$panel-bg: #ffffff;

$lime: #b7fb36;
$lime-light: #d5f1dd;
$table-odd-row: #f5f9f6;
$hot-pink: #e85c5c;
$purple: #cb78ea;
$purple-dark: #b065cc;
$grey: #8c8c8c;
$orange: #ffb600;
$red: #e23b20;

$border-color: #c3c3c3;
$good: #7dbd02;
$bad: #e01313;
$light-grey: #c3c3c3;

$border-radius: 5px;
$border-radius-tight: 3px;
$half-gutter: 5px;
$gutter: 10px;
$double-gutter: 20px;
$light-shadow: 0 0 5px rgba(0,0,0,0.1);

$transition: all 0.4s cubic-bezier(0.77,0.2,0.05,1.0);
$transition-fast: all 0.2s cubic-bezier(0.77,0.2,0.05,1.0);
$transition-slow: all 0.8s cubic-bezier(0.77,0.2,0.05,1.0);

@mixin left-100 {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
