@import '_mixins';

.admin-links{
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  background: $admin-grey;
  box-shadow: $light-shadow;

  li{
    float: left;
    padding: 10px;

    a{
      color: #ffffff;
    }
  }
}

.log{
  .change_set{
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 1px $border-color;
    padding: 5px 0;

    &:last-of-type{
      border-bottom: none;
    }

    .change_title{
      font-weight: bold;
      padding-top: 5px;
    }

    .change_values{
      float: left;
      width: 100%;
      box-sizing: border-box;
    }

    .from, .to{
      overflow: scroll;
      float: left;
      width: 50%;
    }
    .from{
      color: $bad;
    }
    .to{
      color: $good;
    }
  }

}
