@import '_mixins';

body{
  margin: 0;
  background: $body-bg;
  background: linear-gradient(180deg, $body-bg-top 0%, $body-bg 50%, $body-bg 100%);
  font-family: $project-font;
  float: left;
  width: 100%;
  padding: 0;
  color: $text-color;

  .alert, .notice{
    @include left-100;
    background-color: $lime;
    padding: $gutter;
    margin: 0;
  }
  .alert{
    background: $red;
    color: #ffffff;
  }

  a{
    color: $purple;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }

  .strong{
    font-weight: bold;
  }

  .bool{
    padding-left: 8px;
    text-align: left;
    position: relative;

    &:before{
      display: block;
      position: absolute;
      left: -10px;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: $lime;
    }
  }
  .bool.no{
    &:before{
      background-color: $hot-pink;
    }
  }

  .danger{
    color: $hot-pink;
  }

  .pull-right{
    float: right;
  }

  .text-right{
    text-align: right;
  }

  .grey{
    color: $light-grey;
  }

  .message{
    @include left-100;
    padding: $gutter;
    background: $table-odd-row;
    border-radius: 5px;
    margin: $gutter 0;
    box-shadow: $light-shadow;
  }

  .paragraph{
    margin: $gutter 0;
    @include left-100;
  }

  .row{
    @include left-100;
    padding-bottom: $gutter;

    &:first-of-type {
      padding-top: $gutter;
    }
  }

  .spring{
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    box-shadow: $light-shadow;

    .content, .page-content{
      padding: 30px 30px 45px 30px;
      position: relative;
      min-height: calc(100vh - 126px);
      @include left-100;
      margin-bottom: $gutter;
      background: $spring-bg;

      .footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: $title-bar-bg;
        height: 35px;
        box-sizing: border-box;

        ul{
          list-style: none;
          margin: 0;
          color: $lime;
          font-size: 0.8em;
          li{
            float: left;
            padding: $gutter;
          }
        }
      }
    }
  }

  .button{
    float: right;
    background: $lime;
    color: $text-color;
    border: none;
    text-align: center;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    text-decoration: none;
    border-radius: 4px;
  }

  .boxy{
    @include left-100;
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
    border: solid 1px $border-color;
    color: $text-color;
  }

  .table.list{
    @include left-100;
    border-spacing: 0;
    margin: $gutter 0;

    .thead{
       .td{
        font-weight: bold;
        border-bottom: solid 1px $border-color;
        background: $spring-bg;
      }
    }

    .tr{
      &:nth-child(odd) {
        background: $table-odd-row;
      }
      .td{
        padding: 10px;
      }
    }
  }

  .table{
    display: table;
    .thead{
      display: table-header-group;
    }
    .tr{
      display: table-row;
      .td{
        display: table-cell;
      }
    }
  }

  .claim-btn{
    @include left-100;
    border-radius: 7px;
    border: solid 1px $purple;
    background: $purple;
    box-shadow: $light-shadow;
    margin-bottom: $double-gutter;

    color: #ffffff;
    text-align: center;
    padding: $gutter;

    h3{
      margin: 0;
    }

    &:hover{
      text-decoration: none;
      background: $purple-dark;
    }
  }

  ol.terms{
    li{
      margin: $double-gutter 0;
    }
  }
}

@media (max-width: 1000px) {
  body .spring{
    .content{
      .main{
        width: 100%;
      }

      .side-bar{
        width: 100%;
      }
    }
  }
}
