@import '_mixins';

body{
  margin: 0;
  background: $body-bg;
  background: linear-gradient(180deg, $body-bg-top 0%, $body-bg 50%, $body-bg 100%);
  font-family: $project-font;
  float: left;
  width: 100%;
  padding: 0;
  color: $text-color;

  .alert, .notice{
    float: left;
    width: 100%;
    background-color: $lime-cta;
    padding: $gutter;
    box-sizing: border-box;
    margin: 0;
  }

  a{
    color: $purple-cta;
    text-decoration: none;
  }

  .message{
    padding: $gutter;
    background: $purple-cta;
    color: #ffffff;
    border-radius: 5px;
    margin: $gutter 0;
    box-shadow: $light-shadow;
  }

  .row{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: $gutter;

    &:first-of-type {
      padding-top: $gutter;
    }
  }

  .spring{
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
    background: $spring-bg;
    box-sizing: border-box;
    box-shadow: $light-shadow;

    .page-content{
      padding: 30px;
      float: left;
      width: 100%;
      box-sizing: border-box;

      .main{
        float: left;
        width: 66%;
      }

      .side-bar{
        float: left;
        width: 33%;
      }
    }
  }

  ::-webkit-input-placeholder {
    opacity: 0.5;
    font-size: 18px;
    font-weight: 100;
    color: #000000;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  :-moz-placeholder {
    opacity: 0.5;
    font-size: 18px;
    font-weight: 100;
    color: #000000;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  :-ms-input-placeholder {
    opacity: 0.5;
    font-size: 18px;
    font-weight: 100;
    color: #000000;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }

  /* Place Holder CSS for Focus */
  :focus::-webkit-input-placeholder {
    transform: translate(0, -40px);
    opacity: 0;
  }
  :focus:-moz-placeholder {
    transform: translate(0, -40px);
    opacity: 0;
  }
  :focus:-ms-input-placeholder {
    transform: translate(0, -40px);
    opacity: 0;
  }
}
