@import '_mixins';

body{
  margin: 0;
  background: $body-bg;
  background: linear-gradient(180deg, $body-bg-top 0%, $body-bg 50%, $body-bg 100%);
  font-family: $project-font;
  float: left;
  width: 100%;
  padding: 0;
  color: $text-color;

  .alert, .notice{
    float: left;
    width: 100%;
    background-color: $lime-cta;
    padding: $gutter;
    box-sizing: border-box;
    margin: 0;
  }

  a{
    color: $purple-cta;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }

  .pull-right{
    float: right;
  }

  .text-right{
    text-align: right;
  }

  .message{
    padding: $gutter;
    background: $purple-cta;
    color: #ffffff;
    border-radius: 5px;
    margin: $gutter 0;
    box-shadow: $light-shadow;
  }

  .row{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: $gutter;

    &:first-of-type {
      padding-top: $gutter;
    }
  }

  .spring{
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
    background: $spring-bg;
    box-sizing: border-box;
    box-shadow: $light-shadow;

    .page-content{
      padding: 30px;
      float: left;
      width: 100%;
      box-sizing: border-box;

      .main{
        float: left;
        width: 66%;
      }

      .side-bar{
        float: left;
        width: 33%;
      }
    }
  }

  .button{
    float: right;
    background: $lime-cta;
    color: $text-color;
    border: none;
    text-align: center;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    text-decoration: none;
    border-radius: 4px;
  }

  table.list{
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-spacing: 0;
    margin: $gutter 0;

    tr{
      &:nth-child(odd) {
        background: $table-odd-row;
      }
      td{
        padding: 10px;
      }
    }
  }
}

@media (max-width: 1000px) {
  body .spring{
    .page-content{
      .main{
        width: 100%;
      }

      .side-bar{
        width: 100%;
      }
    }
  }
}
