@import '_mixins';

@media (max-width: 700px) {
  body .spring{

    .title-bar{
      padding-top: 20px;
      .title{
        margin-bottom: $gutter;
        width: 100%;

        a{
          margin: auto;
          display: block;
          width: 80px;
          float: none;
        }
      }
      .search-form{
        width: 100%;

        input[type='text']{
          width: 100%;
          height: 35px;
          padding: 5px 10px;
          font-size: 16px;
          border-radius: 0;
        }
        input[type='submit']{
          border-radius: 0;
        }
      }
    }

    .home-page{
      .hero-banner{
        height: 300px;

        .title-col{
          width: 100%;
          h1{
            font-size: 30px;
          }
        }
      }
    }


    .content, .page-content{
      padding: $double-gutter $half-gutter;
      padding-bottom: 90px;
      overflow: hidden;

      .claim-btn{
        &:before, &:after{
          display: none;
        }
      }

      .panel{
        border: none;

        .panel-body{
          padding: $half-gutter;
        }

        &:before, &:after{
          display: none;
        }
      }

      .footer{
        height: 80px;
        ul{
          padding: 0;
        }
      }
    }

    .table{
      display: block;
      .tr{
        display: block;
        float: left;
        width: 100%;
        padding: $gutter 0;
        .td{
          display: block;
          box-sizing: border-box;
          float: left;
          width: 100%;
          padding: 3px;
          border: none;
        }
        .td.mobile-50{
          width: 50%;
        }

        .td.mobile-30{
          width: 33%;
        }
      }
    }

    .mobile-title{
      font-size: 1.1em;
    }

    .mobile-text-right{
      text-align: right;
    }
  }

  .desktop-only{
    display: none !important;
  }
}
