@import '_mixins';

.panel{
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-radius: 7px;
  border: solid 1px $panel-border-color;
  background: white;
  box-shadow: $light-shadow;
  margin-bottom: $double-gutter;

  .panel-head{
    border-bottom: solid 1px $panel-border-color;
    box-sizing: border-box;
    padding: $gutter;
    font-weight: bold;

    h1, h2, h3{
      margin: 0;
    }

    .edit-link{
      float: right;
    }
  }

  .panel-body{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0 $gutter;
  }

  .address-panel{
    border-bottom: solid 1px $panel-border-color;
    padding: $gutter 0;
  }
}
