@import '_mixins';

.content-title{
  padding-left: $gutter;
}

.panel{
  @include left-100;
  border-radius: $border-radius-tight;
  background: $panel-bg;
  box-shadow: $light-shadow;
  margin-bottom: $double-gutter;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

  .panel-head{
    border-bottom: solid 1px $border-color;
    box-sizing: border-box;
    padding: 30px 10px 20px 15px;
    font-weight: bold;
    font-size: 1.17em;

    .edit-link{
      float: right;
      margin-left: $double-gutter;
      font-size: 14px;
    }
  }

  .panel-body{
    @include left-100;
    padding: 0 $gutter;

    h1, h2, h3, h4{
      margin: $double-gutter 0 $gutter 0;
    }
  }

  .address-panel{
    @include left-100;
    border-bottom: solid 1px $border-color;
    padding: $gutter 0;
    margin-bottom: $gutter;
  }
}

.pagination{
  @include left-100;
  margin-bottom: $gutter;
  text-align: center;
  padding: $gutter;

  .prev, .first{
    display: block;
    float: left;
  }

  .btn a{
    display: block;
    width: 40px;
    height: 20px;
    background: white;
    color: $second-color;
    border: solid 1px $second-color;
    border-radius: $border-radius;
    margin: 0 5px;
    transition: all 0.35s ease-in-out;

    &:hover{
      text-decoration: none;
    }
  }


  .page a, .next a, .last a, .prev a, .first a, .current{
    height: 20px;
    line-height: 20px;
    background: white;
    color: $second-color;
    border: solid 1px $second-color;
    display: inline-block;
    padding: 0 8px;
    border-radius: $border-radius;

    &:hover{
      text-decoration: none;
    }
  }

  .current{
    background-color: $second-color;
    color: white;
    border-color: $second-color;
    font-weight: bold;
  }

  .gap{
    color: $second-color;
    font-size: 30px;
  }
}

.panel.collapsed{
  .panel-head{
    cursor: pointer;
  }
  .panel-body{
    display: none;
  }
}
