@import '_mixins';

.sessions{
  .field{
    float: left;
    width: 100%;
    margin: 10px 0;
  }

  .actions{
    float: left;
    width: 100%;
    box-sizing: border-box;
  }

  .session-links{
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px $panel-border-color;
  }

  #error_explanation{
    border: solid 1px $hot-pink;
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 10px;
    border-radius: 5px;

    h2{
      margin: 0;
      color: $hot-pink;
    }

    ul{
      list-style: none;
      padding: 0;

      li{
        color: $hot-pink;
      }
    }
  }
}
