%ul
  %h4 Please select one
  - towns.each do |town|
    %li{'data-id' => town.id}
      %span.lookup-name
        = town.title
      .pull-right
        = [town.state&.iso, town.country.title].compact.join(', ')
