.footer
  %ul
    %li
      Copyright © CrewdB 2019 - All rights reserved
    %li
      = link_to 'Terms & conditions', pages_terms_path
    %li
      = link_to 'Privacy', pages_privacy_path
    %li
      = link_to 'info@crewdb.co.uk', "mail_to('info@crewdb.co.uk')"
